header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    background-color: aqua;

}
#two{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
}